<div class="category-lightbox">
  <h2>categorie 01</h2>
  <a href="#" class="close-category-lightbox">Close</a>
  <div class="default-directnav home-directnav">
    <div class="wrap-item">
      <div class="item">
        <ul class="list-product row list-unstyled">
          <li class="col-md-3 col-sm-6 col-xs-12">
            <div class="item-product">
              <div class="item-product-thumb">
                <a class="product-thumb-link" href="#"><img alt="" src="https://cdn.shopify.com/s/files/1/1184/2838/files/photos_png_820_4.png" class="img-responsive"></a>
                <div class="product-box-promotion">
                  <span class="new-item">new</span>
                  <span class="sale-item">-20%</span>
                </div>
              </div>
              <div class="item-product-info">
                <div class="info-price">
                  <span>$50.00</span> <del>$59.80</del>
                </div>
              </div>
            </div>
          </li>
          <li class="col-md-3 col-sm-6 col-xs-12">
            <div class="item-product">
              <div class="item-product-thumb">
                <a class="product-thumb-link" href="#"><img alt="" src="https://cdn.shopify.com/s/files/1/1184/2838/files/photos_png_800_16.png" class="img-responsive"></a>
                <div class="product-box-promotion">
                  <span class="new-item">new</span>
                </div>
              </div>
              <div class="item-product-info">
                <div class="info-price">
                  <span>$30.00</span>
                </div>
              </div>
            </div>
          </li>
          <li class="col-md-3 col-sm-6 col-xs-12">
            <div class="item-product">
              <div class="item-product-thumb">
                <a class="product-thumb-link" href="#"><img alt="" src="https://cdn.shopify.com/s/files/1/1184/2838/files/photos_png_820_11.png" class="img-responsive"></a>
              </div>
              <div class="item-product-info">
                <div class="info-price">
                  <span>$17.00</span>
                </div>
              </div>
            </div>
          </li>
          <li class="col-md-3 col-sm-6 col-xs-12">
            <div class="item-product">
              <div class="item-product-thumb">
                <a class="product-thumb-link" href="#"><img alt="" src="https://cdn.shopify.com/s/files/1/1184/2838/files/photos_png_800_19.png" class="img-responsive"></a>
                <div class="product-box-promotion">
                  <span class="new-item">new</span>
                  <span class="sale-item">-20%</span>
                </div>
              </div>
              <div class="item-product-info">
                <div class="info-price">
                  <span>$69.23</span> <del>$69.23</del>
                </div>
              </div>
            </div>
          </li>
          <li class="col-md-3 col-sm-6 col-xs-12">
            <div class="item-product">
              <div class="item-product-thumb">
                <a class="product-thumb-link" href="#"><img alt="" src="https://cdn.shopify.com/s/files/1/1184/2838/files/photos_png_820_3.png" class="img-responsive"></a>
              </div>
              <div class="item-product-info">
                <div class="info-price">
                  <span>$45.23</span>
                </div>
              </div>
            </div>
          </li>
          <li class="col-md-3 col-sm-6 col-xs-12">
            <div class="item-product">
              <div class="item-product-thumb">
                <a class="product-thumb-link" href="#"><img alt="" src="https://cdn.shopify.com/s/files/1/1184/2838/files/photos_png_820_5.png" class="img-responsive"></a>
                <div class="product-box-promotion">
                  <span class="sale-item">-20%</span>
                </div>
              </div>
              <div class="item-product-info">
                <div class="info-price">
                  <span>$38.90</span> <del>$97.80 </del>
                </div>
              </div>
            </div>
          </li>
          <li class="col-md-3 col-sm-6 col-xs-12">
            <div class="item-product">
              <div class="item-product-thumb">
                <a class="product-thumb-link" href="#"><img alt="" src="https://cdn.shopify.com/s/files/1/1184/2838/files/photos_png_820_1.png" class="img-responsive"></a>
                <div class="product-box-promotion">
                  <span class="sale-item">-20%</span>
                </div>
              </div>
              <div class="item-product-info">
                <div class="info-price">
                  <span>$78.00</span> <del>$97.80 </del>
                </div>
              </div>
            </div>
          </li>
          <li class="col-md-3 col-sm-6 col-xs-12">
            <div class="item-product">
              <div class="item-product-thumb">
                <a class="product-thumb-link" href="#"><img alt="" src="https://cdn.shopify.com/s/files/1/1184/2838/files/photos_png_800_18.png" class="img-responsive"></a>
              </div>
              <div class="item-product-info">
                <div class="info-price">
                  <span>$80.00</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- End Item -->
       <div class="item">
        <ul class="list-product row list-unstyled">
          <li class="col-md-3 col-sm-6 col-xs-12">
            <div class="item-product">
              <div class="item-product-thumb">
                <a class="product-thumb-link" href="#"><img alt="" src="https://cdn.shopify.com/s/files/1/1184/2838/files/photos_png_820_4.png" class="img-responsive"></a>
                <div class="product-box-promotion">
                  <span class="new-item">new</span>
                  <span class="sale-item">-20%</span>
                </div>
              </div>
              <div class="item-product-info">
                <div class="info-price">
                  <span>$50.00</span> <del>$59.80</del>
                </div>
              </div>
            </div>
          </li>
          <li class="col-md-3 col-sm-6 col-xs-12">
            <div class="item-product">
              <div class="item-product-thumb">
                <a class="product-thumb-link" href="#"><img alt="" src="https://cdn.shopify.com/s/files/1/1184/2838/files/photos_png_800_16.png" class="img-responsive"></a>
                <div class="product-box-promotion">
                  <span class="new-item">new</span>
                </div>
              </div>
              <div class="item-product-info">
                <div class="info-price">
                  <span>$30.00</span>
                </div>
              </div>
            </div>
          </li>
          <li class="col-md-3 col-sm-6 col-xs-12">
            <div class="item-product">
              <div class="item-product-thumb">
                <a class="product-thumb-link" href="#"><img alt="" src="https://cdn.shopify.com/s/files/1/1184/2838/files/photos_png_820_11.png" class="img-responsive"></a>
              </div>
              <div class="item-product-info">
                <div class="info-price">
                  <span>$17.00</span>
                </div>
              </div>
            </div>
          </li>
          <li class="col-md-3 col-sm-6 col-xs-12">
            <div class="item-product">
              <div class="item-product-thumb">
                <a class="product-thumb-link" href="#"><img alt="" src="https://cdn.shopify.com/s/files/1/1184/2838/files/photos_png_800_19.png" class="img-responsive"></a>
                <div class="product-box-promotion">
                  <span class="new-item">new</span>
                  <span class="sale-item">-20%</span>
                </div>
              </div>
              <div class="item-product-info">
                <div class="info-price">
                  <span>$69.23</span> <del>$69.23</del>
                </div>
              </div>
            </div>
          </li>
          <li class="col-md-3 col-sm-6 col-xs-12">
            <div class="item-product">
              <div class="item-product-thumb">
                <a class="product-thumb-link" href="#"><img alt="" src="https://cdn.shopify.com/s/files/1/1184/2838/files/photos_png_820_3.png" class="img-responsive"></a>
              </div>
              <div class="item-product-info">
                <div class="info-price">
                  <span>$45.23</span>
                </div>
              </div>
            </div>
          </li>
          <li class="col-md-3 col-sm-6 col-xs-12">
            <div class="item-product">
              <div class="item-product-thumb">
                <a class="product-thumb-link" href="#"><img alt="" src="https://cdn.shopify.com/s/files/1/1184/2838/files/photos_png_820_5.png" class="img-responsive"></a>
                <div class="product-box-promotion">
                  <span class="sale-item">-20%</span>
                </div>
              </div>
              <div class="item-product-info">
                <div class="info-price">
                  <span>$38.90</span> <del>$97.80 </del>
                </div>
              </div>
            </div>
          </li>
          <li class="col-md-3 col-sm-6 col-xs-12">
            <div class="item-product">
              <div class="item-product-thumb">
                <a class="product-thumb-link" href="#"><img alt="" src="https://cdn.shopify.com/s/files/1/1184/2838/files/photos_png_820_1.png" class="img-responsive"></a>
                <div class="product-box-promotion">
                  <span class="sale-item">-20%</span>
                </div>
              </div>
              <div class="item-product-info">
                <div class="info-price">
                  <span>$78.00</span> <del>$97.80 </del>
                </div>
              </div>
            </div>
          </li>
          <li class="col-md-3 col-sm-6 col-xs-12">
            <div class="item-product">
              <div class="item-product-thumb">
                <a class="product-thumb-link" href="#"><img alt="" src="https://cdn.shopify.com/s/files/1/1184/2838/files/photos_png_800_18.png" class="img-responsive"></a>
              </div>
              <div class="item-product-info">
                <div class="info-price">
                  <span>$80.00</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- End Item -->
    </div>
  </div>
</div>