<div class="header-slider default-paginav">
  <div class="wrap-item">
    <div class="item">
      <div class="item-home-slider">
        <a href="#"><img src="https://cdn.shopify.com/s/files/1/1184/2838/files/slide1.png" alt="" /></a>
      </div>
    </div>
    <div class="item">
      <div class="item-home-slider">
        <a href="#"><img src="https://cdn.shopify.com/s/files/1/1184/2838/files/slide2.png" alt="" /></a>
      </div>
    </div>
    <div class="item">
      <div class="item-home-slider">
        <a href="#"><img src="https://cdn.shopify.com/s/files/1/1184/2838/files/slide3.png" alt="" /></a>
      </div>
    </div>
  </div>
</div>
<!-- End Header Slider -->
{% capture slider %}slider-{{settings.home1_slide_style}}{% endcapture %}
{% include slider  %}