<div class="top-header3">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<p class="contact-top3">
					<label>Welcome to BigC Store </label>
					<span>Call Us: 0800 266 966</span>
				</p>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<ul class="menu-top3 list-inline text-right">
					<li><a href="#">Help</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>