{% for i in (1..8) %}
{% capture counter_number %}counter_{{ i }}_number{% endcapture %}
{% capture counter_value %}counter_{{ i }}_value{% endcapture %}

{% if settings[counter_number] != blank %}


<div class="count-wrapper col-sm-6 col-xs-12 section-block">
  <div class="counter">
    <h1 data-from="0" data-to="{{ settings[counter_number] }}" class="timer"></h1>
    <p>{{ settings[counter_value] }}</p>
  </div>
</div>
{% endif %}   
{% endfor %} 