{% for i in (1..10) %}
{% capture testimonials_title %}testimonials{{ i }}_title{% endcapture %}
{% capture testimonials_text %}testimonials{{ i }}_text{% endcapture %}
{% if settings[testimonials_text] != blank %}
<div class="quote-item clearfix">
  <div class="item-icon"><i class="icon-quote"></i></div>
  <div class="item-content">
    <p class="comment">&quot; {{ settings[testimonials_text] }} &quot;</p>
    <div class="name text-right">
      <p>{{ settings[testimonials_title] }}</p>
    </div>
  </div>
</div>                
{% endif %}   
{% endfor %}  