/***********************************************************************
								Home 7					
************************************************************************/
.title-product-best-sale .nav-tabs-border {
    margin-bottom: 0px;
}

.banner-home7 {
    margin-bottom: 50px;
}

.product-best-sale.style2 {
  .filter-product .btn-filter.style-border-left {
    margin-top: 0px;
  }
  .item-product-loadmore {
    .item-product-info {
      margin: 25px 0 0;
      padding: 0;
      @extend %text-center;
    }
    .title-product a {
      text-transform: capitalize;
    }
  }
}

.logo-header7 {
  display: inline-block;
  vertical-align: top;
}

.search-form7 {
  border-left: 1px solid $color_mercury-darker;
  display: inline-block;
  height: 50px;
  margin-left: 25px;
  padding-left: 30px;
  width: 220px;

  input[type="text"],
  input[type="search"] {
    border: medium none;
    color: $color_dusty-gray;
    max-width: 165px;
  }

  input[type="submit"],
  button[type="submit"] {
    background: url('{{ "icon-search.png" | asset_url }}') no-repeat center center;
    border: medium none;
    display: inline-block;
    height: 16px;
    width: 16px;
    
    &.btn-link-default{
      line-height: 16px;
      text-indent: -9999px;
      padding: 0;
    }
  }
  > form {
    padding-top: 15px;
  }
}

.register-box {
  float: right;

  a {
    border-radius: 6px;
    color: $color_white;
    display: inline-block;
    height: 40px;
    @extend %text-center;
    vertical-align: top;
    width: 100px;
    @extend %jv-transition-easeout;
    line-height: 40px;
    @extend %text-up;
  }
}


.info-cart7 {
  position: fixed;
  right: 10px;
  top: 100px;
  z-index: 99999;

  .info-icon.icon-cart {
    background: $color_currious-blue-darker none repeat scroll 0 0;
    @extend %jv-border-radius-50;
    color: $color_white;
    display: block;
    height: 56px;
    position: relative;
    @extend %text-center;
    width: 56px;

    span {
      font-size: 18px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 18px;
      height: 18px;
      display: block;
    }
  }
  
  .link-cart {
    a {
      border-radius: 6px;
    }
    .cart-edit {
      background: $color_currious-blue-darker none repeat scroll 0 0;

      &:hover {
        background: $color_golden-tainoi none repeat scroll 0 0;
      }
    }
    .cart-checkout {
      background: $color_golden-tainoi none repeat scroll 0 0;

      &:hover {
        background: $color_currious-blue-darker none repeat scroll 0 0;
      }
    }
  }
}


.info-cart.info-cart7 {
  .info-icon sup {
    font-size: 10px;
    position: absolute;
    right: 12px;
    top: 20px;
    left: auto;
  }
  .inner-cart-info {
    margin-right: 0;
    right: 0;
    z-index: 9999;
  }
}

.cart-title a:hover {
  color: $color_golden-tainoi;
}

.register-box {
  .link-login {
    background: $color_currious-blue-darker;

    &:hover {
      background: $color_bright-sun;
    }
  }
  .link-signin {
    background: $color_bright-sun;

    &:hover {
      background: $color_currious-blue-darker;
    }
  }
}



.cart-wishlist-compare2 {
  margin-top: 17px;

  a {
    color: $color_dusty-gray;
    line-height: 36px;
    @extend %jv-transition-easeout;

    &:hover {
      color: $color_shark;
    }
  }
  .product-add-cart {
    border: 1px solid $color_mercury-darker;
    border-radius: 4px;
    display: inline-block;
    height: 36px;
    margin: 0 17px;
    padding: 0 20px;
  }
}



.product-best-sale.style2 {
  .item-product.item-product-loadmore {
    margin: 0 0 50px;
  }
  .btn-link-default.btn-link-loadmore {
    margin-top: 0;
  }
}



.item-box-attr {
  display: table;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 10px 0;
}

.item-attr-title {
  display: table-cell;
  padding: 0 25px;
  position: relative;
  width: 170px;
  font-weight: 700;
}

.item-attr-content {
  display: table;
  padding: 0 30px;
  vertical-align: top;
  color: $color_dove-gray;

  ul {
    margin: 0;
    padding: 0
  }
  a {
    color: $color_dove-gray;
    display: inline-block;

    &:hover {
      color: $color_bright-sun;
    }
  }
}

.attr-category a {
    margin-right: 30px;
}

.box-attr-filter {
  background: $color_white none repeat scroll 0 0;
  border: 1px solid $color_mercury-darker;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba($color_black, 0.2);
  left: 0;
  padding: 30px 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  display: none;
  margin-top: 5px;

  &:before {
    background: $color_alabaster none repeat scroll 0 0;
    border-right: 1px solid $color_mercury-darker;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 170px;
  }
  
  .attr-color li a {
    border: 1px solid $color_gallery;
    display: block;
    padding: 1px;

    span {
      display: block;
      height: 16px;
      width: 36px;
    }
  }

  .attr-size a {
    border: 1px solid $color_gallery;
    display: block;
    height: 20px;
    line-height: 18px;
    padding: 0;
    @extend %text-center;
    width: 40px;
  }
  .attr-brand a {
    margin-right: 30px;
  }
  .attr-size, .attr-color {
    margin-bottom: 20px;
  }
  .attr-category {
    margin-bottom: 20px;
  }
}

.box-attr-filter .item-box-attr + .item-box-attr {  border-top: 1px solid $color_mercury-darker; }

#slider-range-price {
  background: $color_danube none repeat scroll 0 0;
  display: inline-block;
  height: 1px;
  margin-right: 27px;
  width: 255px;
  vertical-align: middle;

  .ui-slider-range.ui-widget-header.ui-corner-all {
    background: $color_gallery none repeat scroll 0 0;
  }

  .ui-slider-handle.ui-state-default.ui-corner-all {
    background: $color_danube none repeat scroll 0 0;
    border: medium none;
    @extend %jv-border-radius-50;
    height: 10px;
    margin: 0 0 0 -5px;
    top: -4px;
    width: 10px;

    &:last-child {
      background: $color_dove-gray;
    }
  }
}



.attr-price-filter {
  display: inline-block;

  label {
    font-weight: normal;
  }
  input {
    border: medium none;
  }
  > p {
    margin-bottom: 15px;
  }
}

.height-light .item-product-thumb {
    padding-bottom: 30px;
}