// _bigc-icon.scss

//home
.icon-extra-sub.hide-box{
	opacity:0;
	visibility: hidden;
}

.icon-home-cart {
  background: $color_shark none repeat scroll 0 0;
}
.icon-home-share {
  background: $color_shark none repeat scroll 0 0;
}
.icon-home-search {
  background: $color_mine-shaft none repeat scroll 0 0;
}
