


.title-normal {
  font-size: 30px;
  margin: 0 0 10px;
  @extend %text-up;
}

.title-product-best-sale {
    margin-bottom: 50px;
    position: relative;
}

.nav-tabs-bestsale .filter-product .btn-filter {
    border-right: 5px solid $color_currious-blue-darker;
}

.nav-tabs-bestsale .nav-tabs {
  border: medium none;

  > li {
    float: left;
    margin-bottom: 0;

    > a {
      border: medium none transparent;
      border-radius: 0;
      line-height: inherit;
      margin-right: 30px;
      padding: 0;
      position: relative;
      text-transform: capitalize;
      color: $color_shark;
    }
    > a:hover, &.active > a {
      color: $color_currious-blue-darker;
      background: none;
      border: none;
    }
  }
}


.filter-product {
  .btn-filter.style-border-left {
    margin-left: 25px;
    padding-left: 25px;
    width: 120px;
    
    &:before {
      background: $color_currious-blue-darker none repeat scroll 0 0;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 5px;
    }
  }
}

.nav-tabs-bestsale .nav-tabs {
  > li > a::after {
    background: $color_silver-darker none repeat scroll 0 0;
    content: "";
    height: 12px;
    position: absolute;
    right: -16px;
    top: 4px;
    // transform: rotate(20deg);
    @include prefix(transform, rorate(20deg));
    width: 1px;
  }

  > li:last-child > a {
    margin-right: 0;

    &:after {
      display: none;
    }
  }
}

.product-best-sale{
  margin-bottom:50px;
  .item-product.item-product-loadmore {
      background: $color_white none repeat scroll 0 0;
      box-shadow: none;
      margin: 0 0 30px;
  }
}

.product-best-sale .item-product-loadmore {
  .item-product-thumb {
      background: $color_wild-sand none repeat scroll 0 0;
  }
  .item-product-info {
      margin: 15px 0 0;
      padding: 0;
      @extend %text-left;
  }
}

.product-best-sale .cart-wishlist-compare {

  .product-wishlist {
    background: $color_currious-blue-darker;
    border-color: $color_currious-blue-darker;
    color: $color_white;

    &:hover {
      background: $color_candlelight;
      border-color: $color_candlelight;
    }
  }
  .product-compare {
    display: none;
    background: $color_currious-blue-darker;
    border-color: $color_currious-blue-darker;
    color: $color_white;

    &:hover {
      background: $color_candlelight;
      border-color: $color_candlelight;
    }
  }
}

.product-best-sale .item-product:hover .item-product-thumb {
    
    @include prefix(box-shadow, 0 5px 5px 0 rgba($color_black, 0.2));
}



.paginav-best-seller {
  border-top: 1px solid $color_mercury-darker;
  margin-top: 20px;
  padding-top: 30px;
  @extend %text-center;

  a {
    background: $color_wild-sand none repeat scroll 0 0;
    
    box-shadow: 0 2px 2px 0 rgba($color_black, 0.1);
    display: block;
    height: 36px;
    line-height: 36px;
    margin: 0 3px;
    opacity: 1;
    padding: 0;
    width: 36px;
    color: $color_shark;
    @extend %jv-border-radius-50;

    &.active {
      position: relative;

      &:before {
        position: absolute;
        width: 8px;
        height: 8px;
        background: $color_currious-blue-darker;
        content: "";
        top: 0px;
        left: 14px;
        @extend %jv-border-radius-50;
      }
    }
    &.active, &:hover {
      opacity: 1;
      background: $color_white none repeat scroll 0 0;
      color: $color_currious-blue-darker;
      
      @include prefix(box-shadow, 0 3px 3px 0 rgba($color_black, 0.2));
    }
  }
}