/***********************************************************************
								Home 3					
************************************************************************/
.banner-top-home3 {
    margin-top: 50px;
}

.top-header3 {
    border-bottom: 1px solid #f1f1f1;
    padding: 8px 0;
}
.contact-top3 {
    color: $color_dusty-gray;
    margin: 0;
}
.contact-top3 > label {
    border-right: 1px solid #ebebeb;
    font-weight: normal;
    height: 13px;
    line-height: 13px;
    margin-bottom: 0;
    margin-right: 12px;
    padding-right: 15px;
}
.menu-top3 a {
    color: $color_dusty-gray;
}
.menu-top3 a:hover {
    color: $color_currious-blue-darker;
}
.menu-top3 {
    margin: 0;
}
.menu-top3 li {
    border-left: 1px solid #ebebeb;
    height: 13px;
    line-height: 13px;
    margin-left: 10px;
    padding: 0 0 0 13px;
}
.menu-top3 li:first-child {
    border: medium none;
    margin: 0;
    padding: 0;
}


.logo-header3 h1 {
    color: $color_currious-blue-darker;
    font-size: 48px;
    margin: 0;
}
.logo-header3 span {
    color: $color_bright-sun;
}
.header.header3 {
    background: #fbfbfb none repeat scroll 0 0;
}
.box-info-user {
    background: $color_white none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.11);
    display: table;
    padding: 25px 0;
    position: absolute;
    right: 0;
    top: 100%;
    width: 400px;
	margin-top:35px;
	@extend %jv-transition-easeout;
	opacity:0;
	visibility:hidden;
}
.info-user:hover .box-info-user{
	opacity:1;
	visibility:visible;
	margin-top:5px;
}
.info-header.info-header3 {
    padding-top: 5px;
    position: relative;
    z-index: 100;
}
.info-header3 .info-total > li {
    margin-left: 1px;
}
.info-header3 .info-total .info-icon:hover {
	background:$color_bright-sun;
}
.info-header3 .info-total .info-icon {
    background: #2ea0d7 none repeat scroll 0 0;
    border-radius: 6px;
    color: $color_white;
    display: block;
    height: 40px;
    padding: 10px;
    text-align: center;
    width: 40px;
}
.info-header3  .info-cart .info-icon sup {
    margin-left: 6px;
    top: 7px;
}

.box-info-user > ul {
    display: table-cell;
    padding: 0 25px;
    vertical-align: top;
}
.box-info-user li a {
    color: $color_dove-gray;
}
.box-info-user li a:hover {
    color: #2ea0d7;
}
.box-info-user li a .lnr {
    color: $color_dusty-gray;
    margin-right: 10px;
}
.user-info-list > li {
    margin-bottom: 14px;
}
.list-unstyled.language-list {
    border-left: 1px solid $color_mercury;
    border-right: 1px solid $color_mercury;
}
.language-list img {
    margin-right: 15px;
}
.language-list li.active {
    border-bottom: 1px solid $color_mercury;
}
.language-list li.active  a{
    color: #2ea0d7;
}
.language-list li {
    margin-bottom: 7px;
    padding-bottom: 7px;
}
.currency-list li.active {
    border-bottom: 1px solid $color_mercury;
}
.currency-list li.active  a{
    color: #2ea0d7;
}
.currency-list li {
    margin-bottom: 7px;
    padding-bottom: 7px;
}
.info-header3 .info-total>li::before,.info-header3 .info-total>li::after{
	display:none;
}
.search-form.search-form3 input[type="text"] {
    border: 1px solid $color_mercury;
    border-radius: 6px;
    color: $color_dusty-gray;
    height: 40px;
    left: 15px;
    padding: 0 15px;
    position: absolute;
    top: 15px;
    width: 327px;
}
.search-form.search-form3 .btn-link-default:hover {
	background:#FED533;
}
.search-form.search-form3 .btn-link-default {
    background: #2ea0d7 none repeat scroll 0 0;
    border-radius: 6px;
    right: 15px;
    top: 15px;
	padding:0 20px;
}
.info-search .search-form3.search-form {
    background: $color_white none repeat scroll 0 0;
    border: medium none;
    border-radius: 6px;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.1);
    margin-right: -0px;
    margin-top: 35px;
    overflow: hidden;
    right: 0;
    width: 450px;
}
.info-search:hover .search-form3.search-form{
	margin-top:5px;
}
.info-total .info-cart3 .inner-cart-info {
    border: medium none;
    border-radius: 6px;
    box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.1);
    margin-right: 0;
    margin-top: 35px;
    right: 0;
}
.info-cart.info-cart3:hover .inner-cart-info {
	margin-top:5px;
}




.title-normal {
    font-size: 30px;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.title-product-best-sale {
    margin-bottom: 50px;
    position: relative;
}
.nav-tabs-bestsale .filter-product .btn-filter {
    border-right: 5px solid $color_currious-blue-darker;
}
.nav-tabs-bestsale .nav-tabs {
    border: medium none;
}
.nav-tabs-bestsale .nav-tabs > li {
    float: left;
    margin-bottom: 0;
}
.nav-tabs-bestsale .nav-tabs > li > a:hover ,.nav-tabs-bestsale .nav-tabs > li.active > a{
	color:$color_currious-blue-darker;
	background:none;
	border:none;
}
.nav-tabs-bestsale .nav-tabs > li > a {
    border: medium none transparent;
    border-radius: 0;
    line-height: inherit;
    margin-right: 30px;
    padding: 0;
    position: relative;
    text-transform: capitalize;
	color:$color_shark;
}
.filter-product .btn-filter.style-border-left {
    margin-left: 25px;
    padding-left: 25px;
    width: 120px;
}
.filter-product .btn-filter.style-border-left::before {
    background: $color_currious-blue-darker none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 5px;
}
.nav-tabs-bestsale .nav-tabs > li > a::after {
    background: $color_silver-darker none repeat scroll 0 0;
    content: "";
    height: 12px;
    position: absolute;
    right: -16px;
    top: 4px;
    transform: rotate(20deg);
    width: 1px;
}
.nav-tabs-bestsale .nav-tabs > li:last-child > a{
	margin-right:0;
}
.nav-tabs-bestsale .nav-tabs > li:last-child > a::after{
	display:none;
}
.product-best-sale .item-product-loadmore .item-product-thumb {
    background: $color_wild-sand none repeat scroll 0 0;
}
.product-best-sale  .item-product.item-product-loadmore {
    background: $color_white none repeat scroll 0 0;
    box-shadow: none;
    margin: 0 0 30px;
}
.product-best-sale  .item-product-loadmore .item-product-info {
    margin: 15px 0 0;
    padding: 0;
    text-align: left;
}
.product-best-sale  .cart-wishlist-compare .product-compare {
	display:none;
}
.product-best-sale .cart-wishlist-compare .product-wishlist {
	background:$color_currious-blue-darker;
	border-color:$color_currious-blue-darker;
	color:$color_white;
}
.product-best-sale .cart-wishlist-compare .product-wishlist:hover{
	background:$color_candlelight;
	border-color:$color_candlelight;
}
.product-best-sale .cart-wishlist-compare .product-compare {
	background:$color_currious-blue-darker;
	border-color:$color_currious-blue-darker;
	color:$color_white;
}
.product-best-sale .cart-wishlist-compare .product-compare:hover{
	background:$color_candlelight;
	border-color:$color_candlelight;
}
.product-best-sale .item-product:hover .item-product-thumb {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.paginav-best-seller {
    border-top: 1px solid $color_mercury-darker;
    margin-top: 20px;
    padding-top: 30px;
	text-align:center;
}
.product-best-sale{
	margin-bottom:50px;
}
.paginav-best-seller a {
    background: $color_wild-sand none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    display: block;
    height: 36px;
    line-height: 36px;
    margin: 0 3px;
    opacity: 1;
    padding: 0;
    width: 36px;
	color:$color_shark;
}
.paginav-best-seller a.active,.paginav-best-seller a:hover {
    opacity: 1;
	background: $color_white none repeat scroll 0 0;
	color:$color_currious-blue-darker;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
}
.paginav-best-seller a.active{
	position:relative;
}
.paginav-best-seller a.active::before{
	position:absolute;
	width:8px;
	height:8px;
	background:$color_currious-blue-darker;
	content:"";
	top:0px;
	left:14px;
	border-radius:50%;
}

