/*Footer*/
.footer {
  background: $color_wild-sand none repeat scroll 0 0;
  margin-top: 50px;
  padding: 55px 0 35px;

  a:hover {
    color: $color_shark;
  }
}

.logo-footer .sub-title {
  color: $color_shark;
}

.logo.logo-footer {
  margin-bottom: 25px;
}

.footer-nav {
  border-left: 1px solid $color_mercury;
  border-right: 1px solid $color_mercury;
  margin: auto;
  max-width: 280px;
  min-height: 280px;
  padding: 0 60px;
  width: 100%;

  a {
    color: $color_dove-gray;
  }
  li {
    margin-bottom: 20px;
  }
  .sub-title {
    margin-bottom: 20px;
  }
}
.download p {
  border-bottom: 1px solid $color_mercury;
  margin-bottom: 12px;
  padding-bottom: 15px;
}
.download-link {
  a {
    color: $color_dusty-gray;
  }
  li {
    margin-bottom: 10px;
  }
  span {
    margin-right: 8px;
  }
}
.newsletter {
  border-bottom: 1px solid $color_mercury;
  padding-bottom: 30px;

  .sub-title {
    margin-bottom: 20px;
  }
  input[type="text"] {
    color: $color_dusty-gray;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    padding: 0 15px;
    width: 306px;
  }
  input[type="submit"] {
    border: medium none;
    margin-top: 10px;
  }
}
.footer-dark .newsletter input[type="text"] {
  border: none;
}
.share-social {
  margin-top: 23px;

  a {
    color: $color_dove-gray;
    font-size: 24px;
    @extend %jv-transition-easeout;

    &:hover {
      color: $color_shark;
    }
  }
}

.footer-bottom {
  border-top: 1px solid $color_mercury;
  margin-top: 40px;
  padding-top: 45px;
}

.menu-footer {
  a {
    color: $color_dove-gray;
  }
  li {
    margin-right: 10px;
  }
}
.copyright {
  color: $color_dove-gray;

  a {
    color: $color_shark;
  }
}
.footer-dark .copyright {
  @extend %text-right;
}
#footer .copyright a:hover {
  color: $color_dusty-gray;
}
.contact-phone {
  margin-top: 30px;
}
.phone-number {
  color: $color_dove-gray;
  margin-left: 10px;
}

//Home 2_
/*Footer*/
.footer{
  &.footer2 {
  
    background: $color_shark none repeat scroll 0 0;
    margin-top: 0;
  }
  a:hover {
    color: $color_white;
  }
  .copyright a {
    color: $color_white;

    &:hover {
      color: $color_dove-gray;
    }
  }
}

.footer-bottom2 {
    margin-top: 15px;
}

// Home 3
.logo-footer3 {
  margin-bottom: 25px;

  > a {
    color: $color_currious-blue-darker;
    font-size: 30px;
    @extend %text-up;
  }
  h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
  }
}

.contact-footer3 li {
    color: $color_dove-gray;
    margin-bottom: 7px;
}


.box-menu-footer3 {
  > h2 {
    font-size: 16px;
    margin: 15px 0 25px;
    @extend %text-up;
  }
  a {
    color: $color_dove-gray;
    position: relative;

    &:hover {
      color: $color_currious-blue-darker;
    }
    &:before {
      @extend %jv-font-Linearicons;
      left: 0;
      margin-right: 10px;
      top: 0;
      content: "\e88d";
    }
  }
  li {
    padding: 6px 0;
  }

  > ul {
    list-style: outside none none;
    padding: 0;
  }
  
}

.social-network3 .share-social a {
    color: $color_shark;
    font-size: 16px;
    margin-right: 7px;
}

.footer-bottom3 {
    border-top: 1px solid $color_mercury;
    padding: 30px 0 40px;
}


.menu-footer3 {
  margin: 0;
  a {
    color: $color_shark;
    &:hover {
      color: $color_currious-blue-darker;
    }
  }

  > li {
    margin-right: 20px;
    padding: 0;
  }
  
}

.copyright3 > p {
    margin: 0;
    @extend %text-right;
}

.footer-3 {
    padding: 40px 0;
}

// footer-dark
.footer {
  &.footer-dark {
    background: $color_cod-gray none repeat scroll 0 0;
    color: $color_white;

    .logo-footer .sub-title {
      color: $color_white;
    }
    .download p {
      border-color: rgba($color_white, 0.1);
      color: $color_dusty-gray;
    }
    .newsletter > p {
      color: $color_dusty-gray;
    }
    .footer-bottom {
      border-top: 1px solid rgba($color_white, 0.1);
      margin-top: 25px;
    }
    .footer-nav {
      border-color: rgba($color_white, 0.1);
    }
    a:hover {
      color: $color_white;
    }
    .newsletter {
      border-color: rgba($color_white, 0.1);

      input[type="submit"] {
        background: $color_golden-tainoi;

        &:hover {
          background: $color_white none repeat scroll 0 0;
          box-shadow: 0 0 0 2px $color_golden-tainoi inset;
          color: $color_shark;
        }
      }
    }
    .copyright a {
      color: $color_dusty-gray;
    }
    .share-social a {
      color: $color_dusty-gray;

      &:hover {
        color: $color_white;
      }
    }
  }
}