/***********************************************************************
            Home 2          
************************************************************************/
.item-popular-info {
  @extend %text-center;

  > p {
    color: $color_dove-gray;
  }
  > h3 {
    margin: 28px 0 17px;

    a {
      color: $color_shark;
      font-size: 13px;
      @extend %text-up;
    }
    &:hover {
      color: $color_dove-gray;
    }
  }
}



/*Popular Post*/
.popular-post {
  margin-top: 35px;


  .item {
    padding: 0 10px;
  }
}


.popular-post-date {
  border: 1px solid $color_mercury;
  margin-top: 40px;
  padding: 10px 15px;
  position: relative;

  &:before {
    background: $color_mercury none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
  }
  .lnr {
    color: $color_dusty-gray;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    vertical-align: text-top;
  }
  span {
    color: $color_dusty-gray;
  }
  .readmore {
    color: $color_dusty-gray;

    &:hover {
      color: $color_dove-gray;
    }
  }
}


.item-popular-thumb {
  position: relative;
  
  &:after {
    background: $color_white none repeat scroll 0 0;
    @extend %jv-border-radius-50;
    bottom: -20px;
    color: $color_shark;
    display: block;
    font-size: 16px;
    left: 50%;
    margin-left: -13px;
    padding: 10px;
    position: absolute;
    content: '\e83f';
    @extend %jv-font-Linearicons;

  }
}


.item-popular-thumb-link {
  display: block;
  overflow: hidden;
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba($color_shark, 0.5);
    opacity: 0;
    @extend %jv-transition-easeout;
  }
  > img {
    width: 100%;
  }
  &:hover::before {
    opacity: 1;
  }
}

.item-brand-thumb {
  overflow: hidden;
  img {
    @extend %jv-transition-easeout;
  }
  &:hover img {
    @extend %jv-transform-scale-115;
  }
}

.locator {
  margin-top: 80px;
  @extend %text-center;
  .title {
    margin-bottom: 20px;
  }
}



.locator-thumb {
  background: rgba($color_black, 0) url('{{ "sbg-icon.png" | asset_url }}') no-repeat scroll center center;
  height: 200px;
  width: 200px;
  position: relative;
  margin: auto auto 20px;
  padding: 65px;

  .locator-thumb-link {
    color: $color_shark;
    font-size: 60px;
    position: relative;
    @extend %jv-transition-easeout;
    z-index: 9;
  }
  &:hover {
    &:after {
      // transform: translate(10px, 10px);
      @include prefix(transform, translate(10px, 10px));
    }
    .locator-thumb-link {
      color: $color_casablanca;
    }
  }
  &:after {
    background: rgba($color_black, 0) url('{{ "bg-icon.png" | asset_url }}') no-repeat scroll center center;
    content: "";
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    @extend %jv-transition-easeout;
  }
}

.locator-info {
  p {
    margin-top: 10px;
    color: $color_dove-gray;
  }
  .sub-title a {
    color: $color_shark;
    &:hover {
      color: $color_casablanca;
    }
  }
}


.partner-slider-paginav .box-intro {
  margin-bottom: 0;
}