// bigc-responsive.scss

@media (min-width: 992px) {
.col-md-jvoffset-12 {
    margin-left: -100%;
}
.col-md-jvoffset-11 {
    margin-left: -91.6667%;
}
.col-md-jvoffset-10 {
    margin-left: -83.3333%;
}
.col-md-jvoffset-9 {
    margin-left: -75%;
}
.col-md-jvoffset-8 {
    margin-left: -66.6667%;
}
.col-md-jvoffset-7 {
    margin-left: -58.3333%;
}
.col-md-jvoffset-6 {
    margin-left: -50%;
}
.col-md-jvoffset-5 {
    margin-left: -41.6667%;
}
.col-md-jvoffset-4 {
    margin-left: -33.3333%;
}
.col-md-jvoffset-3 {
    margin-left: -25%;
}
.col-md-jvoffset-2 {
    margin-left: -16.6667%;
}
.col-md-jvoffset-1 {
    margin-left: -8.33333%;
}
.col-md-jvoffset-0 {
    margin-left: 0;
}
}
@media (min-width: 768px) and (max-width: 991px) {
.col-sm-jvoffset-12 {
    margin-left: -100%;
}
.col-sm-jvoffset-11 {
    margin-left: -91.6667%;
}
.col-sm-jvoffset-10 {
    margin-left: -83.3333%;
}
.col-sm-jvoffset-9 {
    margin-left: -75%;
}
.col-sm-jvoffset-8 {
    margin-left: -66.6667%;
}
.col-sm-jvoffset-7 {
    margin-left: -58.3333%;
}
.col-sm-jvoffset-6 {
    margin-left: -50%;
}
.col-sm-jvoffset-5 {
    margin-left: -41.6667%;
}
.col-sm-jvoffset-4 {
    margin-left: -33.3333%;
}
.col-sm-jvoffset-3 {
    margin-left: -25%;
}
.col-sm-jvoffset-2 {
    margin-left: -16.6667%;
}
.col-sm-jvoffset-1 {
    margin-left: -8.33333%;
}
.col-sm-jvoffset-0 {
    margin-left: 0;
}
}


@media only screen and (min-width: 992px ) {
  .main-nav-1 .jvlogo .logo-img-1 { display:block}
  .main-nav-1 .jvlogo .logo-img-2 { display:none}
  .div-logo-1-mobile { display:none; float:left; height:60px }
   

  .sticky-nav .main-nav-1 .jvlogo .logo-img-1 { display:none}
  .sticky-nav .main-nav-1 .jvlogo .logo-img-2 { 
    display:block;  
    max-height: #{'{{ settings.maxheight-logo-2-mobile }}px'};
    }

  
    .div-product-grid-item .col-md-6:nth-child(2n+1),
    .div-product-grid-item .col-md-4:nth-child(3n+1),
    .div-product-grid-item .col-md-3:nth-child(4n+1),
    .div-product-grid-item .col-md-2:nth-child(6n+1),
       { clear:both;   }  
}


@media only screen and (max-width: 991px ) {
  .main-nav-1 .jvlogo .logo-img-1 { display:none !important}
  .main-nav-1 .jvlogo .logo-img-2 { 
    display:block !important; 
    max-height: #{'{{ settings.maxheight-logo-2-mobile }}px'};

    }
  .div-logo-1-mobile { display:block !important; }
  .div-logo-1-mobile .logo-img-2 { 
    max-height: #{'{{ settings.maxheight-logo-1-mobile }}px'};
    }
  
  .div-product-grid-item .col-sm-6:nth-child(2n+1),
  .div-product-grid-item .col-sm-4:nth-child(3n+1),
  .div-product-grid-item .col-sm-3:nth-child(4n+1),
  .div-product-grid-item .col-sm-2:nth-child(6n+1){ 
    clear:both; }
}

