/***********************************************************************
								Home 5						
************************************************************************/


.inner-cart-info5.inner-cart-info .link-cart {
   a, button {
    background: $color_currious-blue-darker;
    @include prefix(border-radius, 6px);

    &:hover {
      background: $color_bright-sun;
    }
  }
}

.partner-home5 {

  &:hover .owl-theme .owl-controls .owl-buttons div {
    opacity: 1;
  }
  .owl-theme .owl-controls .owl-buttons div {
    background: transparent none repeat scroll 0 0;
    color: $color_dusty-gray;
    display: inline-block;
    height: 36px;
    width: 36px;
    margin: -32px 0 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    @extend %text-center;
    top: 50%;
    @extend %jv-border-radius-50;
    @extend %jv-transition-easeout;
    

    &:hover {
      color: $color_white;
      background: $color_currious-blue-darker;
    }
    > span {
      font-size: 30px;
      line-height: 35px;
      margin-left: 2px;
    }
    &.owl-prev {
      left: -3px;
    }
    &.owl-next {
      right: -3px;
    }
  }
}


.item-product-loadmore {
  &:hover .product-quick-view {
    opacity: 1;
    @extend %jv-transform-scale-1;

  }
  .item-product-thumb {
    background: $color_white;

    &:after {
      display: none;
    }
  }
  .product-quick-view {
    background: rgba($color_curious-blue, 0.9) none repeat scroll 0 0;
    bottom: 0;
    color: $color_white;
    display: block;
    height: 130px;
    left: 0;
    line-height: 130px;
    margin: auto;
    position: absolute;
    right: 0;
    @extend %text-center;
    @extend %text-up;
    top: 0;
    width: 130px;
    opacity: 0;
    
    @extend %jv-border-radius-50;
    @extend %jv-transition-easeout;
    @extend %jv-transform-scale-05;
    
  }
  .item-product-info {
    margin: 0;
    padding: 25px;
    @extend %text-left;

    .desc {
      color: $color_dusty-gray;
    }
  }
  .title-product {
    margin: 15px 0 10px;

    a {
      color: $color_shark;
      @extend %text-up;

      &:hover {
        color: $color_currious-blue-darker;
      }
    }
  }
  .info-price span {
    color: $color_currious-blue-darker;
    font-family: georgia;

    del {
      color: $color_dusty-gray;
      font-size: 16px;
    }
  }
}

.item-product.item-product-loadmore {
  background: $color_white none repeat scroll 0 0;
  box-shadow: 1px 3px 2px 0 rgba($color_black, 0.1);
  margin: 0 -5px 20px;
}







