/*******************************************************************
							Front Page
********************************************************************/


.header-slider {
  &.default-paginav {
    border: 10px solid $color_white;
    margin: 10px -15px 50px;
  }
  
  .owl-pagination {
    left: 0;
    position: absolute;
    bottom: 40px;
    width: 100%;
  }
  
  .owl-theme .owl-controls .owl-page {
    span {
      background: $color_dove-gray none repeat scroll 0 0;
      @extend %jv-border-radius-50;
      display: block;
      height: 7px;
      margin: 4px;
      opacity: 1;
      width: 7px;
    }
    span:hover, 
    &.active span {
      background: $color_black none repeat scroll 0 0;
    }
  }
}

.home-extra-sub {
  background: $color_shark none repeat scroll 0 0;
  left: 100px;
  opacity: 0;
  position: absolute;
  @extend %text-left;
  top: 0;
  visibility: hidden;
  width: 400px;
  padding: 40px 30px;
  @extend %jv-transition-easeout;

  &.show-box {
    left: -300px;
    opacity: 1;
    visibility: visible;
  }
}


.home-extra-sub .close-extra-sub {
  color: #a8a8a9;
  display: block;
  font-size: 16px;
  position: relative;
  @extend %text-right;
  @extend %text-up;
  padding-right: 36px;

  &:after {
    background: transparent url('{{ "home_x-close2.png" | asset_url }}') no-repeat scroll center center;
    content: "";
    display: block;
    height: 17px;
    position: absolute;
    right: 0;
    top: 3px;
    width: 17px;
  }
}

.home-extra-sub {
  .wrap-cart-remove .remove-product {
    background: transparent  url('{{ "remove-cart.png" | asset_url }}') no-repeat scroll center center;
    border: none;
  }

  .cart-title a {
    color: $color_white;
    &:hover {
      color: $color_dusty-gray;
    }
  }

  a.cart-thumb {
    background: $color_white none repeat scroll 0 0;
  }
  .item-info-cart {
    border-top: 1px solid rgba($color_white, 0.1);
  }
  .total-cart {
    border-top: 1px solid rgba($color_white, 0.1);
    color: $color_white;
  }
  .link-cart a, 
  .link-cart button {
    background: $color_white;
    color: $color_shark;

    &:hover {
      background: $color_golden-tainoi none repeat scroll 0 0;
      color: $color_white;
    }
  }
}

.home-extra-sub .share-social {
  border-top: 1px solid rgba($color_white, 0.1);
  margin-top: 35px;

  a {
    color: $color_white;
    display: block;
    font-size: 13px;
    margin-top: 25px;

    i {
      color: $color_dusty-gray;
      display: inline-block;
      font-size: 30px;
      margin-right: 10px;
      vertical-align: middle;
    }
    &:hover i {
      color: $color_white;
    }
  }
}


.home-search-form {
  border-top: 1px solid rgba($color_white, 0.1);
  margin-top: 35px;
  padding-top: 20px;

  input[type="text"],
  input[type="search"]  {
    border: medium none;
    color: $color_dusty-gray;
    height: 50px;
    padding: 0 20px;
    width: 100%;
  }
  .btn-link-default {
    background: $color_golden-tainoi none repeat scroll 0 0;
    font-size: 16px;
    font-weight: 700;
    height: 50px;
    margin-top: 10px;
    width: 100%;
  }
}


//home-box-extra

.home-box-extra {
  float: right;
  position: relative;
  width: 100px;

  > div > a {
    color: $color_white;
    display: block;
    height: 100px;
    opacity: 1;
    position: relative;
    @extend %text-right;
    visibility: visible;
    width: 100px;
    @extend %jv-transition-easeout;

    &:hover {
      color: $color_casablanca;

      >.lnr {
        @extend %jv-transform-scale-12;
      }
    }

    > .lnr {
      bottom: 0;
      display: block;
      font-size: 30px;
      height: 30px;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      @extend %jv-transition-easeout;
    }
  }
  .icon-home-cart sup {
    font-size: 13px;
    position: absolute;
    right: 25px;
    top: 35px;
  }
}

//header banner

.header-banner {
  margin: 0 -15px;
  position: relative;
  
  .col-md-6.col-sm-6.col-xs-12 {
    position:static;
  }
}



.item-header-banner {
  background: $color_wild-sand none repeat scroll 0 0;
  border: 10px solid $color_white;
  margin-bottom: 50px;

  &:hover {
    .header-banner-title {
      background: $color_shark none repeat scroll 0 0;
      color: $color_white;

      &:after {
        background: $color_white;
      }
    }
    
    .header-banner-link img{
      @extend %jv-transform-scale-115;
    }
    .header-banner-title > span{
      color:$color_shark;
    }
  }

  &.box-left {
      margin-right: 10px;
  }
  &.box-right {
      margin-left: 10px;
  }
}


.header-banner-thumb {
    overflow: hidden;
    position: relative;
}

.header-banner-title {
  background: $color_white none repeat scroll 0 0;
  color: $color_shark;
  display: inline-block;
  font-size: 13px;
  left: 0;
  margin: -25px 0 0;
  overflow: hidden;
  padding: 18px 120px 18px 20px;
  position: absolute;
  @extend %text-up;
  top: 50%;
  @extend %jv-transition-easeout;

  &:after {
    background: $color_shark none repeat scroll 0 0;
    content: "";
    height: 100%;
    position: absolute;
    right: -26px;
    top: 0;
    width: 120px;
    
    @include prefix(transform, skewX(-15deg));
    @extend %jv-transition-easeout;
  }
  > span {
    color: $color_silver;
    position: absolute;
    right: 20px;
    text-transform: none;
    top: 18px;
    z-index: 99;
  }

  > a {
    color: $color_shark;
  }
}

.header-banner-link img{
  @extend %jv-transition-easeout;
}

.category-lightbox {
  background: $color_white none repeat scroll 0 0;
  box-shadow: 0 0 5px 0 rgba($color_black, 0.1);
  left: 50%;
  margin-left: -635px;
  padding: 22px 30px 30px;
  position: absolute;
  top: 50px;
  width: 1170px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  @extend %jv-transition-easeout;

  .item-product {
    margin: 0 -10px 10px;
  }
  .list-product {
    padding: 0 10px;
  }
  > h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 25px;
    @extend %text-up;
  }

  .close-category-lightbox {
    color: $color_alto;
    padding-right: 30px;
    position: absolute;
    right: 30px;
    @extend %text-up;
    top: 30px;

      &:after {
      background: transparent url('{{ "home_x-close.png" | asset_url }}') no-repeat scroll center center;
      content: "";
      height: 11px;
      position: absolute;
      right: 0;
      top: 4px;
      width: 11px;
    }
  }
  .home-directnav .owl-buttons {
    margin-right: -85px;
    position: absolute;
    right: 50%;
    top: -60px;
  }

  .item-product-thumb::after {
    display: none;
  }
  .item-product-info {
    bottom: 12px;
    left: 0;
    margin: 0;
    position: absolute;
    width: 100%;
  }
  &.height-light {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}

.home-directnav {
  .owl-theme .owl-controls .owl-buttons div {
    background: transparent none repeat scroll 0 0;
    border-radius: 0;
    color: $color_dusty-gray;
    display: inline-block;
    font-size: 30px;
    margin: 0 0 0 10px;
    opacity: 1;
    padding: 0;

    &:hover {
      color: $color_casablanca;
    }
  }

  .owl-buttons {
      position: absolute;
      right: 0;
      top: -50px;
  }

}

// .product-featured-thumb

.product-featured-thumb {
    background: $color_white none repeat scroll 0 0;
    border: 1px solid $color_mercury;
}
.home-featured-slider {
    background: $color_wild-sand none repeat scroll 0 0;
    padding: 80px 0 60px;
}

.bx-pager .active::after {
  background: $color_oslo-gray none repeat scroll 0 0;
  content: "";
  height: 1px;
  left: -50%;
  position: absolute;
  top: 50%;

  width: 200%;
  z-index: 99;
  @include prefix(transform, rotate(-135deg));
}

.control-paginav-featured-slider {
  margin: 70px auto auto;
  max-width: 580px;
  position: relative;
  width: 100%;

  .ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all {
    background: $color_shark none repeat scroll 0 0;
    border: 1px solid $color_mercury;
    border-radius: 5px;
    height: 10px;
    margin: 0;
    padding: 0;
  }
  .ui-slider-range.ui-widget-header.ui-corner-all {
    background: $color_white none repeat scroll 0 0;
  }
  .ui-slider-handle.ui-state-default.ui-corner-all {
    background: $color_white none repeat scroll 0 0;
    border: 1px solid $color_mine-shaft;
    @extend %jv-border-radius-50;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    margin: 0 -18px;
    opacity: 1;
    position: relative;
    @extend %text-center;
    top: -14px;
    width: 36px;
  }
}

#slider-range-max #amount {
    color: $color_shark;
    font-size: 13px;
    line-height: 32px;
}


.product-featured-info {
  > h3 {
    font-size: 13px;
    margin: 0 0 10px;
    text-shadow: 0 0 0;
    @extend %text-up;
  }
  .desc {
    margin-top: 13px;
  }
  .bx-pager {
    margin-top: 43px;

    img {
      width: 50px;
    }
    a {
      background: $color_white none repeat scroll 0 0;
      border: 1px solid $color_mercury;
      display: inline-block;
      margin-right: 5px;
      overflow: hidden;
      position: relative;
      margin-bottom: 5px;
    }
  }
  .wrap-cart-qty {
    margin-top: 25px;
    max-width: none;
    float: none;

    label {
      font-weight: normal;
      margin-right: 20px;
      margin-top: 10px;
      vertical-align: top;
     }

    .btn-link-default.add-to-cart {
      margin: 0;
      padding: 0;
      width: 130px;
    }
   
  }
}


.product-featured-info {
  .info-qty {
    background: $color_white none repeat scroll 0 0;
    display: inline-block;
    margin-right: 5px;
    padding: 0;
    position: relative;
    vertical-align: top;
    width: 95px;
  }

  .qty-up {
    border-bottom: 1px solid $color_mercury;
    border-left: 1px solid $color_mercury;
    height: 20px;
    position: absolute;
    right: 0;
    @extend %text-center;
    top: 0;
    width: 20px;

    span {
      font-size: 6px;
      position: absolute;
      right: 7px;
      top: 7px;
    }
  }
  .qty-down {
    height: 20px;
    position: absolute;
    right: 0;
    width: 20px;
    bottom: 0;
    border-left: 1px solid $color_mercury;
    @extend %text-center;

    span {
      font-size: 6px;
      position: absolute;
      right: 7px;
      top: 7px;
    }
  }

  .qty-val {
    vertical-align: top;
    width: 73px;
  }
}


.home-featured-slider {

  .control-paginav-featured-slider {
    .first-num {
      font-size: 30px;
      left: -35px;
      position: absolute;
      top: -18px;
    }
    .last-num {
      font-size: 30px;
      position: absolute;
      right: -55px;
      top: -18px;
    }
  }
}



.title.title-home {
    margin-bottom: 45px;
}




.home-partner-slider .partner-slider-directnav .owl-buttons {
  margin-right: 15px;
  margin-top: -30px;
}
.home-bestsale-product {
  margin-top: 90px;

  .home-directnav .owl-buttons {
    margin-top: -125px;
  }
}

.home-testimonial {
  background: $color_wild-sand none repeat scroll 0 0;
  margin-top: 60px;
  padding: 50px 0 100px;
  position: relative;

  &:before {
    background: $color_shark none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
  }
  .title.title-home {
    color: $color_white;
    position: relative;
  }
  .home-directnav .owl-buttons {
    margin-top: -26px;
  }
}


.home-latest-news {
    margin-top: 90px;
}


.partner-slider.home-partner-slider {
    margin-bottom: 70px;
}

//home featured product 

.home-featured-product {
    margin-top: 90px;
  
  .home-directnav .owl-buttons {
      margin-top: -103px;
  }
}


.home-featured-slider .owl-pagination {
  display: inline-block;
  margin-top: 70px;
  position: relative;
  display: none;

  &:before {
    background: $color_white none repeat scroll 0 0;
    border: 1px solid $color_mercury;
    border-radius: 10px;
    content: "";
    display: block;
    height: 10px;
    left: 0;
    position: absolute;
    top: 13px;
    width: 100%;
  }
  .owl-theme .owl-controls .owl-page {
    border: 1px solid $color_mine-shaft;
    @extend %jv-border-radius-50;
    display: inline-block;
    height: 36px;
    margin: 0 25px 0 0;
    @extend %text-center;
    width: 36px;
    opacity: 0;
    background: $color_white;
    position: relative;

    &.active {
      opacity: 1;
    }
    span {
      background: transparent none repeat scroll 0 0;
      height: auto;
      line-height: 36px;
      margin: 0;
      opacity: 1;
      width: auto;
    }
  }

  .first-num {
    font-size: 30px;
    left: -25px;
    position: absolute;
    top: -4px;
  }
  .last-num {
    font-size: 30px;
    position: absolute;
    top: -4px;
    right: -45px;
  }
}


.wrap-latest-news-slider {
    background: $color_shark none repeat scroll 0 0;
    padding: 100px 0;
    position: relative;
}
.home-latest-news .item {
    position: relative;
	height:505px;
	overflow:hidden;
}

.item-home-latest-news {
  background: rgba($color_white, 0.5) none repeat scroll 0 0;
  background-position: right 30px top 30px;
  box-shadow: 3px 0 3px 3px rgba($color_black, 0.05);
  padding: 100px 80px 50px;
  @extend %jv-transition-easeout;

  &:nth-child(1) {
    margin: 0 80px;
  }
  &:nth-child(2) {
    margin: 35px 40px 0;
    // transform: translate(0px, -100%);
    @include prefix(transform, translate(0px, -100%));
  }
  &:nth-child(3) {
    background: $color_white none repeat scroll 0 0;
    margin-top: 55px;
    // transform: translate(0px, -200%);
    @include prefix(transform, translate(0px, -200%));
  }
  .home-latest-news-info {
    font-weight: normal;

    h3 a {
      color: $color_shark;

      &:hover {
        color: $color_dusty-gray;
      }
      .btn-link-default {
        color: $color_white;
      }
    }
  }
}

.item-home-latest-news.active {
  background-color: $color_white;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right 30px top 30px;
  background-size: 20px 20px;
  background-image: url('{{ "cross.png" | asset_url }}');
  height: 100%;
  left: 0;
  margin: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
  // transform: translate(0px, 0px);
   @include prefix(transform, translate(0px, 0px));

  .home-latest-news-thumb img {
    width: 100%;
  }
}


.home-latest-news-info {
  > h3 {
    font-size: 30px;
    margin: 0;
  }
  .latest-post-info {
    border-bottom: 1px solid $color_mercury;
    border-top: medium none;
    margin-bottom: 20px;
    margin-top: 23px;
    padding-bottom: 14px;
    padding-top: 0;

    li {
      margin-left: 0;
      margin-right: 15px;

      a {
        color: $color_dusty-gray;
      }
      span {
        color: $color_dove-gray;
      }
    }
  }
  .desc {
    color: $color_dove-gray;
    margin-bottom: 22px;
  }
}


.home-latest-news-thumb  a {
  display: block;
  overflow: hidden;
  position: relative;
}

.home-latest-news .home-directnav .owl-buttons {
    margin-top: -125px;
}

