
// _filter.scss


//home 5
.nav-tabs-filter  .nav-tabs > li.active > a,
.nav-tabs-filter  .nav-tabs > li.active > a:hover,
.nav-tabs-filter  .nav-tabs > li.active > a:focus,
.nav-tabs-filter  .nav-tabs > li > a:hover {
    background: $color_currious-blue-darker none repeat scroll 0 0;
    border-color: $color_currious-blue-darker;
    color: $color_white;
}

.nav-tabs-filter .nav-tabs > li {
  margin: 0 10px 0 0;
  > a {
    background: $color_white none repeat scroll 0 0;
    border: 1px solid $color_mercury;
    border-radius: 4px;
    color: $color_shark;
    height: 36px;
    line-height: 36px;
    margin-right: 0;
    padding: 0 23px;
    @extend %text-up;
    @extend %jv-transition-easeout;
  }
}

.nav-tabs-filter .nav.nav-tabs {
    border: medium none;
    margin: 0;
}


.product-list-filter {
  background: $color_wild-sand none repeat scroll 0 0;
  padding: 50px 0;

  .list-product {
    padding: 0 5px;
  }
}


.filter-product .btn-filter {
  background: $color_white none repeat scroll 0 0;
  border: 1px solid $color_mercury-darker;
  border-radius: 4px;
  color: $color_shark;
  display: block;
  float: left;
  height: 36px;
  width: 116px;
  line-height: 36px;
  overflow: hidden;
  padding: 0 30px 0 15px;
  position: relative;
  @extend %text-up;

  &:after {
    content: "\f107";
    @extend %jv-font-Awesome;
    position: absolute;
    right: 20px;
    top: 0;
  }
}

.title-product-filter {
    margin-bottom: 50px;
    position: relative;
}

/* FILTER */
.advanced-filters a {
    display: block;
    font-family: "Montserrat",sans-serif;
    font-size: 11px;
    padding-left: 20px;
    position: relative;
    @extend %text-up;
}

.sidebar .widget{
  .advanced-filters a{
    font-family: inherit;
    font-size: inherit;
    text-transform: none;
    color: #1b1d1f;
  }
}

.advanced-filters a::before, 
.advanced-filters a::after {
    content: "";
    display: block;
    position: absolute;
}
.advanced-filters a::before {
    background-color: $color_white;
    border: 1px solid $color_mercury;
    height: 12px;
    left: 0;
    top: 6px;
    width: 12px;
}
.advanced-filters a::after {
    background-color: transparent;
    height: 6px;
    left: 3px;
    top: 9px;
    width: 6px;
}
.advanced-filters a:hover::after {
    background-color: $color_mercury;
}
.advanced-filter.active-filter a::after {
    background-color: $color_black;
}
.advanced-filter.active-filter a:hover::after {
    background-color: $color_black;
    color: $color_white;
    content: "x";
    font-family: "icons";
    font-size: 8px;
    height: 12px;
    left: 0;
    line-height: 12px;
    @extend %text-center;
    top: 6px;
    width: 12px;
}

.box-attr-filter .advanced-filters a::before {
  top: 1px;
}
.box-attr-filter .advanced-filters a::after {
  top: 4px;
}
.box-attr-filter  .advanced-filter.active-filter a:hover::after {
  top: 1px;
}