// _myaccount.scss
/* Page Login */
.page-login-wrapper .page-login {
  @extend %text-center;
}
.page-login-wrapper .page-login .back-to-home {
  color: $color_white;
}
.page-login-wrapper .page-login .back-to-home:after {
  border-color: $color_white;
}

.page-login-wrapper .page-login .back-to-home a {
    color: inherit;
    outline: medium none;
}

.page-login-wrapper .page-login .button {
  display: block;
  margin-bottom: 0;
  padding-bottom: 0;
}
.page-login-wrapper .page-login .signin {
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid $color_silver-darker;
}
.page-login-wrapper .page-login .signin:after {
  position: absolute;
  bottom: -20px;
  left: 50%;
  display: block;
  padding: 5px;
  background-color: $color_white;
  content: "OR";
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.page-login-wrapper .page-login .button .normal-btn {
  width: 100%;
}
.page-login-wrapper .page-login .remember {
  margin-bottom: 25px;
  @extend %text-right;
}
.page-login-wrapper .page-login .remember .checkbox {
  display: inline-block;
}
.page-login-wrapper .page-login .remember .checkbox [type=checkbox]:checked + span {
  position: relative;
}
.page-login-wrapper .page-login .remember .checkbox [type=checkbox]:checked + span:after {
  color: $colorPrimary;
  font-family: "wolverine";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: "W";
  line-height: 14px;
}
.page-login-wrapper .page-login .remember .checkbox input {
  display: none;
}
.page-login-wrapper .page-login .remember .checkbox span {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid $color_alto;
  vertical-align: middle;
}
.page-login-wrapper .page-login .remember p {
  display: inline-block;
  margin: 0;
  color: #777777;
}
.page-login-wrapper .page-login form {
  background-color: $color_white;
  position: relative;
  margin: 0 auto 75px auto;
  padding: 50px;
  max-width: 400px;
}
.page-login-wrapper .page-login form 
{
  h1,h2,h3
  {
    font-size: 24px;
    line-height: 28px;
    margin: 0;
  }
}


.page-login-wrapper .page-login form p {
  margin-bottom: 30px;
  // font-family: {% if settings.type_orther_use == '1'%} '{{ settings.type_orther_google }}', sans-serif; {% else %} 	{{ settings.type_orther_family }} {% endif %};
}
.page-login-wrapper .page-login form .infor {
  position: relative;

  margin-bottom: 20px;

}
.page-login-wrapper .page-login form .infor .icon {
  color: $color_dusty-gray;
  position: absolute;
  top: 50%;
  left: 15px;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.page-login-wrapper .page-login form .infor .icon i:before {
  vertical-align: middle;
  font-size: 19px;
}
.page-login-wrapper .page-login form .infor input {
  display: block;
  margin-bottom: 0;
  padding-left: 50px;
  width: 100%;
  border: 1px solid $color_alto;
  background: white;
}
.page-login-wrapper .page-login form a.forgotpass {
  color: $color_white;
  position: absolute;
  top: 100%;
  left: 0;
}
.page-login-wrapper .page-login form p {
  color: $colorPrimary;
}


.page-login-wrapper .footer-foot {
  background-color: $color_wild-sand;
}
/* REGSITER */
.page-register-wrapper .footer-foot {
  background-color: $color_wild-sand;
}

.page-account {
  background-color: $color_white;
  position: relative;
  padding: 50px;

}

.page-register form {
  background-color: $color_white;
  position: relative;
  margin: 0 auto;
  padding: 50px;
  max-width: 570px;
}
.page-register form .button {
  @extend %text-center;
}
.page-register form .name {
  position: relative;
}
.page-register form .name:after {
  clear: both;
}
.page-register form .name:before,
.page-register form .name:after {
  content: " ";
  display: table;
}
.page-register form .name:after {
  clear: both;
}
.page-register form .name:before,
.page-register form .name:after {
  content: " ";
  display: table;
}
.page-register form .name input {
  float: left;
  display: block;
  width: -webkit-calc(50% - 15px);
  width: calc(50% - 15px);
}
.page-register form .name input:first-of-type {
  margin-right: 30px;
}
.page-register form h3 {
  margin-bottom: 50px;
  @extend %text-center;
}
.page-register form input:not([type="submit"]) {
  margin-bottom: 20px;
  width: 100%;
  border-color: $color_alto;
}
.page-register form label {
  // font-family: {% if settings.type_heading_use == '1'%} '{{ settings.type_heading_google }}', sans-serif; {% else %} 	{{ settings.type_heading_family }} {% endif %};
  letter-spacing: 0.05em;
  margin-bottom: 5px;
  font-size: 11px;
  @extend %text-up;
}
.page-register form span {
  font-style: italic;
  // font-family: {% if settings.type_orther_use == '1'%} '{{ settings.type_orther_google }}', sans-serif; {% else %} 	{{ settings.type_orther_family }} {% endif %};
  color: $color_dusty-gray;
  display: block;
  margin-bottom: 55px;
}
.page-register form span a {
  color: $colorPrimary;
  text-decoration: underline;
}