/*bigc-include.scss*/
$colorPrimary : #{'{{ settings.color_primary }}'};

$color_white: #fff;

$color_black: #000;
$color_mine-shaft : #333;
$color_boulder : #747474;
$color_boulder-darker: #787878; //797979
$color_abbey : #494a4c;


//gray
$color_wild-sand : #f5f5f5; //f6f6f6 //f4f4f4
$color_alabaster : #fbfbfb;
$color_cod-gray: #171717;

$color_mercury : #e5e5e5; //e9e9e9
// e3e3e3
$color_mercury-darker : #e3e3e3;



$color_silver : #bbb;
$color_silver-darker : #ccc;
$color_silver-chalice : #a9a9a9; //a0a0a0

$color_alabaster : #fafafa;
$color_alto : #d0d0d0; //dddddd
$color_gray : #808080; //#8D8D8D
$color_dove-gray: #666;
$color_dusty-gray: #999;
$color_mid-gray : #5f6062;
$color_emperor : #525252;
$color_oslo-gray : #898a8b;
$color_gallery : #eaeaea;

$color_peppermint: #eaf8e7;

//27, 29, 31
$color_shark : #1b1d1f; //323436 //d0d0d0 //252627

$color_mine-shaft: #3a3a3a;

//yellow
$color_casablanca : #fbb450; //251,180,80
$color_saffron : #f3b929;
$color_bright-sun : #fdd932; //FEC942 //F9DD47 //249, 221, 71
$color_sunglow : #FFD533; //fed533
$color_old-gold : #d1a73b;
$color_supernova : #fbcb09;
$color_golden-grass : #d1ae1e;

$color_candlelight : #ffd21e; //FFD21D

$color_golden-tainoi : #fec64d;

//organe
$color_crusta : #f87028;
$color_pumpkin : #ff8523;
$color_my-sin : #FFA823; //255, 168, 35

$color_outrageous-orange : #FF5736; //255, 87, 54

//pink
$color_amaranth :#E3374E;//227, 55, 78 //

//blue
$color_cornflower-blue : #4082F0;
$color_curious-blue : #2caae1; //379fd7 //2ea0d7 //2FA0D8 //#2D9FD0 //45, 159, 208

// Curious Blue $color_currious-blue-darker #1997d4
$color_currious-blue-darker : darken($color_curious-blue, 10%);

$color_havelock-blue : #5398d7;

$color_aquamarine-blue : #5EE3A8;// 94, 227, 168

$color_viking: #4CD6D6 ;//76, 214, 214

$color_jelly-bean: #2a86b2;
$color_rhino : #37436d;
$color_danube : #5a88ca;


@-moz-keyframes spin {
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); }
}
@-moz-keyframes spinoff {
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spinoff {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(-360deg); }
}
@-ms-keyframes spin {
	0% { -ms-transform: rotate(0deg); }
	100% { -ms-transform: rotate(360deg); }
}
@-ms-keyframes spinoff {
	0% { -ms-transform: rotate(0deg); }
	100% { -ms-transform: rotate(-360deg); }
}

@import 'bigc-utilities';
@import 'bigc-typo';
@import 'bigc-icon';



@import 'bigc-button';
@import 'bigc-chart-progress';
@import 'bigc-contact';
@import 'bigc-messagebox';
@import 'bigc-newsletter';
@import 'bigc-tab';
@import 'bigc-testimonial';

@import 'bigc-accordions';
@import 'bigc-feature';

@import 'bigc-menu';
@import 'bigc-cart';

@import 'bigc-widget';
@import 'bigc-header';
@import 'bigc-footer';

@import 'bigc-search';
@import 'bigc-product';
@import 'bigc-category';

@import 'bigc-blog';
@import 'bigc-blogpost';

// page
@import 'bigc-about';
@import 'bigc-team';
@import 'bigc-brand';
@import 'bigc-banners';
@import 'bigc-slider';

@import 'myaccount';
@import 'filter';

@import 'bigc-home';
@import 'bigc-home2';
@import 'bigc-home2_';
@import 'bigc-home3';
@import 'bigc-home5';
@import 'bigc-home7';

@import 'bigc-responsive';
