<main class="main-content">

{% if page.metafields.jvpage.titlePage != 'hide'  %}
  <div class="common-static-header">
    <div class="container">
      <h1 ><span>{{ page.title }}</span></h1>
    </div>
  </div>
{% endif %}

{% if page.metafields.jvpage.breadcrumb != 'hide'  %}
<div class="container">
  {% include 'breadcrumb' %}
</div>
{% endif %}

<section role="main" class="wrapper-content full-content  {% if page.metafields.jvpage.spaceContent == 'no'  %} no-padding  {% endif %}">
<div class="container">
  {{ page.content }}
</div>
</section>
</main>