<main class="main-content">

{% if page.metafields.jvpage.titlePage != 'hide'  %}
	<div class="common-static-header">
		<div class="parallax-bg" data-stellar-background-ratio="0.25"
			{% if page.metafields.jvpage.titleBackground != blank %}
				style="background-image:url({{ page.metafields.jvpage.titleBackground }})"
			{% endif %}
		></div>
		<div class="container">
			<h1 ><span>{{ page.title }}</span></h1>
		</div>
	</div>
{% endif %}

{{ page.content }}

</main>